<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=Poiret+One&family=Poppins&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <!-- Optional CSS  -->
  <link rel="stylesheet" href="css/styles.css">

  <title>To-do-List</title>

</head>

<body>
  <nav class="navbar navbar-light">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">TO-DO LIST</p>
      </div>
      <ul class="nav navbar-nav list-inline navbar-right">
        <!-- 6 -->
        <li class="list-inline-item" id="home"><a href="/">HOME</a></li>
        <li class="list-inline-item" id="about"><a href="#">ABOUT</a></li>
        <li class="list-inline-item" id="contact"><a href="#">CONTACT</a></li>
      </ul>
    </div>
  </nav>
